.square1 {
    height: 100px;
    width: 100px;
    background-color: yellow;
  }

.square1 h4{
    text-align:center;
}

  .square2 {
    height: 100px;
    width: 100px;
    background-color: yellow;
  }
  .square3 {
    height: 100px;
    width: 100px;
    background-color: yellow;
  }
  .square4 {
    height: 100px;
    width: 100px;
    background-color: yellow;
  }
